<div class="container-fluid">
    <div class="row text-left img-grids">
        <div class="col-lg-6 p-0">
            <div class="four-grids">
                <div class="images-text">
                    <div class="ser-bg1" style="background: url(http://localhost:8000/uploads/imagenes/sWNyFoUOlv.webp) no-repeat center;  background-size: cover;">
                        <div class="p-md-5 p-3">
                            <h4><a href="http://localhost:8000/destinos/destinos-exoticos">Destinos exóticos</a></h4>
                            <p>Diseñamos las rutas y servicios de viaje más óptimos, asegurando la máxima asistencia ... </p>
            
                        </div>
                    </div>
                </div>


                        
                    
                        
                        <div class="images-text">
                            <div class="ser-bg2" style="background: url(http://localhost:8000/uploads/imagenes/1UDDLG4QH1.webp) no-repeat center;  background-size: cover;">
                                <div class="p-md-5 p-3">
                                    <h4><a href="http://localhost:8000/destinos/villas-de-lujo">Villas de lujo</a></h4>
                                            <p>Disfruta de la comodidad, la elegancia y el buen servicio, con las mejores amenidades, en ... </p>
        
                                </div>
                            </div>
                        </div>


                        
                    
                        
                        <div class="images-text">
                            <div class="ser-bg3" style="background: url(http://localhost:8000/uploads/imagenes/eLuWEiN4ze.jpg) no-repeat center;  background-size: cover;">
                                <div class="p-md-5 p-3">
                                    <h4><a href="http://localhost:8000/destinos/solo-para-adultos">Sólo para adultos</a></h4>
                                            <p>Le damos rienda suelta a tu imaginación, con la libertad de compartir experiencias de via... </p>
        
                                </div>
                            </div>
                        </div>


                        
                    
                        
                                <div class="images-text">
                                    <div class="ser-bg4" style="background: url(http://localhost:8000/uploads/imagenes/ZJt6LdtQjV.webp) no-repeat center;  background-size: cover;">
                                        <div class="p-md-5 p-3">
                                            <h4><a href="http://localhost:8000/destinos/gustos-y-sabores">Gustos y sabores</a></h4>
                                            <p>La civilización griega lo llamó Dioniso, Dios de la fertilidad y el vino, los romanos lo... </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 p-0">
                            <div class="four-grids">

                       



                        
                    
                        
                        <div class="images-text">
                            <div class="ser-bg1" style="background: url(http://localhost:8000/uploads/imagenes/eLuWEiN4ze.jpg) no-repeat center;  background-size: cover;">
                                <div class="p-md-5 p-3">
                                    <h4><a href="http://localhost:8000/destinos/solo-para-adultos">Sólo para adultos</a></h4>
                                            <p>Le damos rienda suelta a tu imaginación, con la libertad de compartir experiencias de via... </p>
        
                                </div>
                            </div>
                        </div>


                        
                    
                        
                        <div class="images-text">
                            <div class="ser-bg2" style="background: url(http://localhost:8000/uploads/imagenes/MspjsUu7hn.webp) no-repeat center;  background-size: cover;">
                                <div class="p-md-5 p-3">
                                    <h4><a href="http://localhost:8000/destinos/museos-y-monumentos">Museos y Monumentos</a></h4>
                                            <p>El majestuoso Taj Mahal, el misterioso Stonehenge, las Pirámides de Egipto, la Torre Eiff... </p>
        
                                </div>
                            </div>
                        </div>


                        
                    
                        
                        <div class="images-text">
                            <div class="ser-bg3" style="background: url(http://localhost:8000/uploads/imagenes/kQCsUcPOC4.webp) no-repeat center;  background-size: cover;">
                                <div class="p-md-5 p-3">
                                    <h4><a href="http://localhost:8000/destinos/yates-veleros-y-pesca">Yates, veleros y pesca</a></h4>
                                            <p>Además de gratificante y único, navegar con expertos en Croacia, Grecia, Sicilia, Malta ... </p>
        
                                </div>
                            </div>
                        </div>


                        
                    
                        
                                <div class="images-text">
                                    <div class="ser-bg4" style="background: url(http://localhost:8000/uploads/imagenes/FD9mOuqqtv.jpg) no-repeat center;  background-size: cover;">
                                        <div class="p-md-5 p-3">
                                            <h4><a href="http://localhost:8000/destinos/mas-lujo-en-servicios">Más lujo en servicios</a></h4>
                                            <p>Aprovechar al máximo las ventajas que ofrecen algunos hoteles y servicios, como desayunos... </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 p-0">
                            <div class="four-grids">

                       



                        
                    
                        
                        <div class="images-text">
                            <div class="ser-bg1" style="background: url(http://localhost:8000/uploads/imagenes/v9vkQXA9Lw.webp) no-repeat center;  background-size: cover;">
                                <div class="p-md-5 p-3">
                                    <h4><a href="http://localhost:8000/destinos/safaris-fotograficos">Safaris fotográficos</a></h4>
                                            <p>La gran migración, la cultura Masai Mara, la protección que debemos sobre la naturaleza ... </p>
        
                                </div>
                            </div>
                        </div>


                        
                    
                        
                        <div class="images-text">
                            <div class="ser-bg2" style="background: url(http://localhost:8000/uploads/imagenes/bdGdK7Ew2K.webp) no-repeat center;  background-size: cover;">
                                <div class="p-md-5 p-3">
                                    <h4><a href="http://localhost:8000/destinos/un-toque-de-introspeccion">Un toque de introspección</a></h4>
                                            <p>¿Se trata de religión? ¿De encontrarse con uno mismo? ¿De recorrer aquellos caminos co... </p>
        
                                </div>
                            </div>
                        </div>


                        
                    
                        
                        <div class="images-text">
                            <div class="ser-bg3" style="background: url(http://localhost:8000/uploads/imagenes/eLuWEiN4ze.jpg) no-repeat center;  background-size: cover;">
                                <div class="p-md-5 p-3">
                                    <h4><a href="http://localhost:8000/destinos/solo-para-adultos">Sólo para adultos</a></h4>
                                            <p>Le damos rienda suelta a tu imaginación, con la libertad de compartir experiencias de via... </p>
        
                                </div>
                            </div>
                        </div>


                        
                    
                        
                                <div class="images-text">
                                    <div class="ser-bg4" style="background: url(http://localhost:8000/uploads/imagenes/eLuWEiN4ze.jpg) no-repeat center;  background-size: cover;">
                                        <div class="p-md-5 p-3">
                                            <h4><a href="http://localhost:8000/destinos/solo-para-adultos">Sólo para adultos</a></h4>
                                            <p>Le damos rienda suelta a tu imaginación, con la libertad de compartir experiencias de via... </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    
                    
                </div>
            </div>